
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact Us</h1>

    {{ form_start(contactForm) }}
        {{ form_row(contactForm.subject) }}
        {{ form_row(contactForm.message) }}
        {{ form_row(contactForm.send) }}
    {{ form_end(contactForm) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
